<footer>
    <div class="redes-sociales">
        <a href="https://github.com/tuusuario" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/tuperfil" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/tupagina" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/tuperfil" target="_blank"><i class="fab fa-instagram"></i></a>
        <!-- Puedes agregar más iconos de redes sociales según tus necesidades -->
    </div>
    <div class="info-adicional">
        <p>&copy; 2024 Tu Negocio</p>
        <p>Dirección: 123 Calle Principal, Playa Paradisíaca, Ciudad Costera</p>
        <p>Teléfono: 8094611150
        </p>
        <p>Correo electrónico: info&#64;tunegocio.com</p>
        <!-- Puedes agregar más información adicional aquí -->
    </div>
</footer>

